/*options.css*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#add-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#add-form input[type="text"] {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#add-form button {
    padding: 5px 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#add-form button:hover {
    background-color: #3e8e41;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead th,
tbody td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

thead th {
    background-color: #ddd;
}

.edit-button,
.delete-button {
    padding: 5px 10px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #0b7dda;
}